.vue-notification-group {
  bottom: 1rem !important;
  right: 1rem !important;
  
  .vue-notification {
    border-radius: .2rem !important;

    .notification-title {
      font-size: 1.6rem;
    }
  
    .notification-content {
      font-size: 1.4rem;
    }
  }
}